{
  "parserOptions": {
    sourceType: "module",
    ecmaVersion: 6,
    # following replaced by ecmaVersion: 6
    # "blockBindings": true,
    # "forOf": true,
    # "destructuring": true,
    # "spread": true,
    # "arrowFunctions": true,
    # "modules": true
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    # "semi": 1,
    "no-extra-semi": 1,
    "semi-spacing": 1,
    "no-trailing-spaces": 1,
    "quotes": 0,
    "no-multi-spaces": [0, { "exceptions": { "VariableDeclarator": true, "Property": true } }],
    "key-spacing": [0, { "align": "colon", "beforeColon": true, "afterColon": true, "mode": "minimum" }],
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-mixed-requires": 0,
    "curly": [2, "multi-line"],
    "complexity": [1, 8],
    "max-depth": [1, 3],
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2
  },
  "env": {
    "node": true,
    "es6" : true
  },
  "globals": {
    "rootRequire": true,
    "fetch" : true
  }
}
