
.btn {
  display: inline-block;
  border: 1px solid;
  padding: $spacer-xs $spacer-sm;
  border-radius: $radius;
  cursor: pointer;
  color: inherit;
  transition: all 200ms ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.95);
  }
}
